
.card-container{
    text-align: center;
    margin: 0 15px;
    font-weight: 700;
}
.card{
    height: 260px;
    width: 140px;
    margin-top: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    background: linear-gradient(180deg, #464646 0%, #1D2540 100%);
    color: white;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card-line{
    width: 100%;
    height: 2px;
    background-color: gray;
}
.card-body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
