
.container{
  max-width: 1024px;
  margin: 80px auto;
  padding: 0px 20px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.flex-items{
  width: 300px;
}

.location-wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.location{
  display: flex;
  flex-direction: row;

}
.Geolocation{
  color:#606060;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 8px;
}

.card-label{
  height: 260px;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-label-body{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.all-cards{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-box{
  background: #D9D9D9;
  border: 1px solid #464646;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
}
.date-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
  }
  .navbar-right{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    padding-left: 5px;
    padding-top: 3px;
  }
  .container{
    margin: 35px 20px;
  }
  .header{
    display: flex;
    flex-direction: column-reverse;
  }
  .location-wrapper{
    margin-top: 20px;
  }
  .flex-items{
    width: 100%;
  }
}
